<% if @project.module_enabled?(:agile_board) && @issue.respond_to?(:sprint) || @issue.respond_to?(:story_points) %>
  <hr/>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <div class="sprint attribute">
        <div class="label">Sprint:</div>
        <div class="value">
          <%= @issue.sprint.present? ? (link_to @issue.sprint.name, project_sprint_path(@project, @issue.sprint)) : 'Not assigned'%>
        </div>
      </div>
      <div class="story_points attribute">
        <div class="label">Story Points:</div>
        <div class="value">
          <%= @issue.story_points || '-' %>
        </div>
      </div>
      <div class="difficulty attribute">
        <div class="label">Difficulty:</div>
        <div class="value">
          <%= @issue.difficulty ? @issue.difficulty.capitalize : '-' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @project.module_enabled?(:agile_board) && issue.tags.any? %>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <div class="sprint attribute">
        <div class="label">Tags</div>
        <div>
          <% issue.tags.each_with_index do |tag, i| %>
            <span class="issue-tag color-<%= (i % 5) + 1 %>"><%= tag %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>