<fieldset class="box">
  <legend><%= l(:label_sprint_settings_legend) %></legend>

  <p>
    <%= label_tag 'settings[notify_on_sprint_completed]', l(:label_sprint_settings_notify_on_complete) %>
    <%= check_box_tag 'settings[notify_on_sprint_completed]', '1', Setting.plugin_redmine_sprint_board_pro['notify_on_sprint_completed'] == '1' %>
    <span class="description"><%= l(:text_sprint_settings_notify_on_complete) %></span>
  </p>

  <p>
    <%= label_tag 'settings[monthly_report_enabled]', l(:label_sprint_settings_monthly_report) %>
    <%= check_box_tag 'settings[monthly_report_enabled]', '1', Setting.plugin_redmine_sprint_board_pro['monthly_report_enabled'] == '1' %>
    <span class="description"><%= l(:text_sprint_settings_monthly_report) %></span>
  </p>

  <p>
    <%= label_tag 'settings[monthly_report_day]', l(:label_sprint_settings_report_day)+' (1-28)' %>
    <%= number_field_tag 'settings[monthly_report_day]', (Setting.plugin_redmine_sprint_board_pro['monthly_report_day'] || 1), min: 1, max: 28 %>
  </p>

  <p>
    <%= label_tag 'settings[monthly_report_receivers]', l(:label_sprint_settings_report_recipients) %>
    <%= text_field_tag 'settings[monthly_report_receivers]', Setting.plugin_redmine_sprint_board_pro['monthly_report_receivers'], size: 60 %>
    <br/><span class="description"><%= l(:text_sprint_settings_report_recipients) %></span>
  </p>
</fieldset>