<div class="rsbp-grid" style="margin-top: 20px;">
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_charts_velocity) %></div><canvas id="velocityByDifficultyChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_charts_planned_vs_completed) %></div><canvas id="plannedVsCompletedChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_charts_burndown) %></div><canvas id="burndownByDifficultyChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_charts_distributionn) %></div><canvas id="difficultyDistributionChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_charts_trend) %></div><canvas id="difficultyTrendChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_team) %></div><canvas id="teamContributionDiffChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_cycle) %></div><canvas id="difficultyVsCycleChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_bugs) %></div><canvas id="difficultyVsBugsChart"></canvas></div>
  <div class="dashboard-card large"><div class="dashboard-card-header"><%= l(:label_sprint_difficulty_story_points) %></div><canvas id="developerDifficultyChart"></canvas></div>
</div>
<%= javascript_include_tag 'chart4', plugin: 'redmine_sprint_board_pro' %>
<%= javascript_include_tag 'difficulty_charts', plugin: 'redmine_sprint_board_pro' %>
<script>
  const difficultyData = {
    velocity_by_difficulty: <%= raw @velocity_by_difficulty.to_json %>,
    planned_vs_completed: <%= raw @planned_vs_completed.to_json %>,
    burndown_by_difficulty: <%= raw @burndown_by_difficulty.to_json %>,
    difficulty_distribution: <%= raw @difficulty_distribution.to_json %>,
    difficulty_trend: <%= raw @difficulty_trend.to_json %>,
    team_contribution_diff: <%= raw @team_contribution_diff.to_json %>,
    difficulty_vs_cycle_time: <%= raw @difficulty_vs_cycle_time.to_json %>,
    difficulty_vs_bugs: <%= raw @difficulty_vs_bugs.to_json %>,
    developer_difficulty: <%= raw @developer_difficulty_points.to_json %>
  };
  renderDifficultyCharts(difficultyData);
</script>