<div class="rsbp-grid" style="margin-top: 20px;">
  <div class="dashboard-card large">
    <div class="dashboard-card-header"><%= l(:label_sprint_charts_velocity) %></div>
    <canvas id="velocityChart" class="chart-small"></canvas>
  </div>

  <div class="dashboard-card large">
    <div class="dashboard-card-header"><%= l(:label_sprint_charts_burndown) %></div>
    <canvas id="burndownChart" class="chart-small"></canvas>
  </div>

  <div class="dashboard-card large">
    <div class="dashboard-card-header"><%= l(:label_sprint_charts_cfd) %></div>
    <canvas id="cfdChart" class="chart-small"></canvas>
  </div>

  <div class="dashboard-card large">
    <div class="dashboard-card-header"><%= l(:label_sprint_charts_open_closed) %></div>
    <canvas id="openClosedChart" class="chart-small"></canvas>
  </div>

  <div class="dashboard-card large">
    <div class="dashboard-card-header"><%= l(:label_sprint_charts_issue_type) %></div>
    <canvas id="issueTypeChart" class="chart-small"></canvas>
  </div>

  <div class="dashboard-card large">
    <div class="dashboard-card-header"><%= l(:label_sprint_charts_team) %></div>
    <canvas id="teamChart" class="chart-small"></canvas>
  </div>
</div>

<%= javascript_include_tag 'chart4', plugin: 'redmine_sprint_board_pro' %>
<%= javascript_include_tag 'sprints_charts', plugin: 'redmine_sprint_board_pro' %>
<script>
  const chartData = {
    velocity: <%= raw @velocity.to_json %>,
    burndown: <%= raw @burndown.to_json %>,
    cfd: <%= raw @cfd.to_json %>,
    team: <%= raw @team.to_json %>,
    issue_types: <%= raw @issue_types.to_json %>,
    open_closed: <%= raw @open_closed.to_json %>
  };
  renderDashboardCharts(chartData)
</script>