
<%= stylesheet_link_tag 'agile_board', plugin: 'redmine_sprint_board_pro' %>
<%= stylesheet_link_tag 'tags', plugin: 'redmine_sprint_board_pro' %>
<% content_for :header_tags do %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <script>
    window.projectIdentifier = "<%= @project.identifier %>"
    window.allowedStatusTransitions = <%= raw @allowed_transitions.to_json %>;
    window.buttonCheckAll = "<%= l(:button_check_all)  %>";
    window.buttonUncheckAll = "<%= l(:button_uncheck_all)  %>";
  </script>
<% end %>


<div class="agile-board-container">
  <div class="agile-board-header">
    <h2><%= l(:label_agile_board) %></h2>
    <% if User.current.allowed_to?(:manage_sprints, @project) %>
      <div class="contextual">
          <%= link_to  sprite_icon('add', l(:label_sprint_new)), new_project_sprint_path(@project), class: 'icon icon-add' %>
          <%= render partial: 'sprints/context_menu', locals: { project: @project, sprint: @selected_sprint } %>
      </div>
    <% end %>
  </div>
  <div class=agile-board-sprint-select>
  <%= form_with url: project_agile_board_path(@project), method: :get, local: true do |form| %>
    <label for="sprint_id"><%= l(:field_sprint_select) %></label>
    <%= select_tag :sprint_id, options_from_collection_for_select(@sprints, :id, :name, params[:sprint_id]), onchange: 'this.form.submit();' %>
  <% end %>
  </div>


    <div class="agile-board-listing">
      <% @statuses.each do |status| %>
      <div class="status-column" data-status-id="<%= status.id %>">
          <div class="status-header">
            <h3><%= status.name %> (<%= (@issues[status] || []).size%>)</h3>
          </div>
        <div class="card-list" data-status-id="<%= status.id %>">
            <% (@issues[status] || []).each do |issue| %>
              <% priority_name = issue.priority.try(:name).to_s.parameterize %>
              <div class="card priority-<%= priority_name %>" draggable="true" data-id="<%= issue.id %>" data-lock-version="<%= issue.lock_version %>">
                <div class="card-title"><%= link_to "##{issue.id}", issue_path(issue) %> : <%= issue.subject%></div>
                <div class="card-meta">
                  <span>👤 <%= issue.assigned_to&.name || l(:label_board_issue_unassigned) %></span><br>
                  <span>🎯 <%= issue.story_points || 0 %> <%=  l(:label_board_issue_story_points) %></span><br />
                  <% issue.tag_list.each_with_index do |tag, idx| %>
                    <span class="issue-tag color-<%= idx % 10 %>"><%= tag %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
<%= javascript_include_tag 'Sortable.min', plugin: 'redmine_sprint_board_pro' %>
<%= javascript_include_tag 'agile_board', plugin: 'redmine_sprint_board_pro' %>